*
*/
!.gitignore
!.bashrc
!.bash_logout
!.bash_aliases
!.bash_functions
!.vimrc
!.xonshrc
!scoop_list.txt
!pip.txt
!/script/
!/script/**
!/tips/
!/tips/**
!/complete/
!/complete/**
!/config/
!/config/**
!/settings/
!/settings/**
/settings/vim
